*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(to 
    bottom right,
     #f9effa,
      #e2f1e9,
       #ececec,
        #e7ffe2,);

}

#nav_metronomo{
    width: 30rem;
    height: 30rem;
    border: solid;
    border-color:#3c6d33;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.beet_color_li{
    width:1.5rem;
    height:1.5rem;
    background-color:#9df8a9;
    margin: 10px;
    list-style: none;
    border-radius: 2rem;
}

.beet_color_li.active{
    background-color:#41ac53;
}

#beet_color ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.titulo{
    display: flex;
    justify-content: center;
}

.ButtonBeep{

    width: 5rem;
    height: 2rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#n_bpm{
    width: 8rem;
    height: 8rem;
    border: solid;
    border-radius: 5rem;
    border-color: #f9effa;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color:#76c765;
}
#n_bpm h6{
    font-size: 0.7rem;
}
#n_bpm p{
    font-size: 2.6rem;
}